# dependencies
/node_modules

# next.js
/.next
/out

# uploads (ignore uploaded images)
public/uploads

# environment files
.env.local
.env*

# system files
.DS_Store

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# vercel
.vercel

# misc
*.pem
*.tsbuildinfo
next-env.d.ts
